.sidebarChat{
	display: flex;
	align-items: center;
	padding: 15px;
	cursor: pointer;
	max-height: 60px;
}

.sidebarChat:hover{
	background-color: #e2e2e2;
}

.sidebarChat_avatar{
	margin:0px 10px;
	height: auto;
	width: auto;
	font-size: 400px;
}

.sidebarChat_info{
	max-height: 45px;
	flex: 100%;
	overflow: hidden;
}

.sidebarChat_header{
	font-weight: 500;
	font-size: 1.1em;
}

.sidebarChat_info_heading{
	display: flex;
	justify-content: space-between;
}